@charset "UTF-8";

body {
    background: url('./imagens/bg2.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 53, 53, 0.555);
    padding: 20px;
    position: sticky;
}

nav > a {
    text-decoration: none;
    padding: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;
}
nav > a:hover {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 5px;
    transition-duration: 0.4s;
}

#divBusca {
    background-color: rgba(255, 255, 255, 0.178);
    margin-top: 20px;
    width: 200px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid black;
}

#txtBusca {
    color: white;
    position: relative;
    padding: 0;
    width: 200px;
    height: 32px;
    border-radius: 25px;
    background-color: transparent;
    text-align: center;
    border-width: 0;
}

#imgBusca {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: -30px;
    cursor: pointer;
}

#voltar {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

section {
    max-width: 500px;
    
    height: 500px;
    background-color: rgba(0, 0, 0, 0.664);
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#login {
    color: white;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

#login > p {
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: rgba(255, 255, 255, 0.705);
    padding: 10px;
    margin-bottom: 10px;
}

#email {
    color: rgba(255, 255, 255, 0.753);
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

#email > p {
    margin: 0;
    padding: 5px;
}

#senha {
    color: rgba(255, 255, 255, 0.753);
    text-align: center;
    font-size: 18px;
    padding: 20px 20px 5px 20px;
}

#senha > p {
    margin: 0;
    padding: 5px;
}

#check {
    text-align: center;
}

#check > p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    color: white;
}

#check > input {
    cursor: pointer;
}

 .login {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

#sign {
    text-align: center;
    padding: 30px;
}

#sign > input {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    border-style: none;
    font-size: 16px;
}

::placeholder {
    text-align: center;
    font-size: 14px;
}

#log {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 5px;
}

#log > p {
    color: rgb(0, 0, 0);   
}

#log > input {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    margin: 5px;
}